<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">New Blog entry</div>
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="text-justify">Write your post, either writing a draft in a single session or gradually word on parts of it.</h5>
                    </div>
                    <hr>
                    <form action="" method="post" id="form-post" name="form-post" novalidate="novalidate">
                        <div class="form-group data-row">


                        </div>
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="title" class="control-label mb-1">Post Title</label>
                            </div>
                            <div class="col-9">
                                <input id="title" name="title" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="title here...">
                            </div>
                        </div>
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="subtitle" class="control-label mb-1">Post Subtitle</label>
                            </div>
                            <div class="col-9">
                                <input id="subtitle" name="subtitle" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="subtitle here...">
                            </div>

                        </div>
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="file-input" class=" form-control-label">Header image</label>
                            </div>
                            <div class="col-9">
                               {IMG_INPUT}
                            </div>
                        </div>
                        <div class="form-group data-row">
                            <h5 class="text-left">Content</h5>
                            <div class="col-12 mt-3">
                                <textarea class="content full-editor" id="content" name="content"></textarea>
          
                            </div>
                        </div>

                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="select_state" class=" form-control-label">Post status</label>
                            </div>
                            <div class="col-3">
                                <select name="select_state" id="select_state" class="form-control">
                                    <option value="Not published">Not published</option>
                                    <option value="Published">Published</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <h3 class=" data-row">SEO</h3>
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="page_title" class="control-label mb-1">Page Title</label>
                            </div>
                            <div class="col-9">
                                <input id="page_title" name="page_title" type="text" value="" class="form-control" aria-required="true" aria-invalid="false" placeholder="title here...">
                            </div>
                        </div>
                        
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="tags" class="control-label mb-1">META tags</label>
                            </div>
                            <div class="col-9">
                                <input id="tags" name="tags" type="text" value="" class="form-control" aria-required="true" aria-invalid="false" placeholder="subtitle here...">
                            </div>
            
                        </div>
                        <div class="row form-group data-row">
                            <div class="col-3 text-right">
                                <label for="page_desc" class="form-control-label">Description</label>
                            </div>
                            <div class="col-9">
                                <textarea class="form-control" id="page_desc" name="page_desc"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 text-right">
                                <div id="alert-resp" style="display:none;">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-9 text-right">
                                <img id="send-gif" class="float-right invisible" src='{SERVER_URL}/images/loading-line.gif'>
                            </div>
                            <div class="col-3 text-right">
                                <button id="save-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-edit fa-lg"></i>&nbsp;
                                    <span id="save-msj">Save post</span>
                                    <span id="save-sending" style="display:none;">Sending…</span>
                                </button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

  function invalidate_input(id) {
        jQuery(id).addClass("is-invalid");
        jQuery(id).attr("required");
        $(id).popover("toggle");
      }
      function validate_input(id) {
        jQuery(id).removeClass("is-invalid");
        jQuery(id).addClass("is-valid");
        $(id).popover("hide");
      }

      function validate_reg() {
        if (jQuery("#title").val() === "") {
          invalidate_input("#title");
          return false;
        } else {
          validate_input("#title");
        }

        if (jQuery("#subtitle").val() === "") {
          invalidate_input("#subtitle");
          return false;
        } else {
          validate_input("#subtitle");
        }

        return true;
      }


jQuery("#form-post").submit(function (e) {
    $("#alert-resp").hide();
        
        e.preventDefault();
        e.stopPropagation();
        tinyMCE.triggerSave();
        if(validate_reg()){

            $("#send-gif").removeClass("invisible");
            $("#msj-send").hide();
            $("#msj-sending").show();
            $("#btn-send").addClass("disabled");
            $("#btn-send").attr("aria-disabled", "true");
            
            var form = jQuery("#form-post").serialize();
            var file_data = new FormData();
            file_data.append("accion", "create-post");
            file_data.append("formula", form);
            file_data.append("{ID-INPUT}", $("#{ID-INPUT}")[0].files[0]);
            
              
            $.ajax({
                type: "POST",
                url:  "{SERVER_URL}/admin/ajax/blog.php",
                data: file_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#alert-resp").show();
                    res = JSON.parse(response);
                    
                    if (res.code == 1) {
                        $("#alert-resp").addClass("alert-success");
                        $("#alert-resp").html(res.msj);
                        $("#save-button").addClass("invisible");
                        
                        //redirect
                        document.location.href = "{SERVER_URL}/admin/post_ls.php";
                    }else{
                        $("#alert-resp").addClass("alert-warning");
                        $("#alert-resp").html(res.msj);
                    }
                    
                    $("#send-gif").addClass("invisible");
                }
            });


        }
   
});

    function initiate(identity, callback) {
        tinymce.init({ selector:identity });
        callback();
    }
    function hidenote(){
        $(".mce-notification").addClass("d-none");
    }

$(document).ready(function(e){

    $("#{ID-INPUT}-up-btn").addClass("invisible");
    initiate('textarea.content', hidenote);

});

</script>
<script src="{SERVER_URL}/js/admin/full-editor-init.js"></script>