<div class="thumbnail prod-thumb">
    <input type="hidden" value="{MEDIA_URL}" id="HD_MEDIA_{MEDIA_ID}_URL" name="HD_MEDIA_{MEDIA_ID}_URL">
    <img class="img-responsive w-100"  src="{MEDIA_SRC}" alt="{MEDIA_ALT}" class="margin">
    <div class="buttons ">
        <a id="btn-del-hdr" class="btn btn-sm btn-danger rounded-0 float-left" role="button">
            <i class="fa fa-ban"></i>
        </a>
        &nbsp;
        <a href="{MEDIA_VER}" target="_blank" class="btn btn-sm btn-dark rounded-0 float-right" role="button">
            <i class="fa fa-eye"></i>
        </a>
    </div>


</div>
<label class="adm-caption w-100 ml-2">
    {MEDIA_DESC}
    <br>Alt Text: <span id="ALT-TEXT">{MEDIA_ALT}</span>
</label>
