<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">Mail Settings</div>
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="text-justify">Update the information below.</h5>
                    </div>
                    <hr>
                    <form id="form-mail" name="form-mail" action="" method="post" novalidate="novalidate">

                            
                            <h4 class="mb-1 t-blu d-block">Mail list</h4>
                            <div class="row form-group">
                                
                                <div class="col-3 text-right">
                                    <label for="status" class=" form-control-label">Download</label>
                                </div>
                                <div class="col-9 text-left">
                                    <div id="list-box">
                                        <a id="get-mail-list" class="btn btn-sm btn-info text-white">
                                            <i class="fa fa-save fa-lg"></i>&nbsp;
                                            <span id="list-button-sp">Get list</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        <h4 class="mb-1 t-blu d-block">Mail Monitoring</h4>
                        <div class="row form-group mt-4">

                                <div class="col-3 text-right">
                                    <label for="cc-subscription" class="control-label mb-1">Subscription Email</label>
                                </div>
                                <div class="col-9">
                                    <input id="cc-subscription" name="cc-subscription" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="SUBSCRIPTION email here..." value="{SUBSCRIPTION}">
                                </div>
                            </div>
                            <div class="row form-group">

                                    <div class="col-3 text-right">
                                        <label for="cc-contact" class="control-label mb-1">Contact Email </label>
                                    </div>
                                    <div class="col-9">
                                        <input id="cc-contact" name="cc-contact" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="CONTACT email here..." value="{CONTACT}">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-3 text-right">
                                        <label for="cc-brochure" class="control-label mb-1">Brochure Monitoring Email </label>
                                    </div>
                                    <div class="col-9">
                                        <input id="cc-brochure" name="cc-brochure" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="BROCHURE monitoring email here..." value="{BROCHURE}">
                                    </div>
                                </div>
                                    
                                                              
                        <div class="row form-group">
                            <div class="col-12 text-right">
                                <button id="payment-button" type="submit" class="btn btn-sm btn-success">
                                    <i class="fa fa-edit fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Save</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                    <img id="send-gif" class="float-right invisible" src='{SERVER_URL}/images/loading-line.gif'>
                                </div>
                        </div>
                        <div class="row form-group">
                                <div class="col-12 text-right">
                                    <div id="alert-resp" style="display:none;">
                                        
                                    </div>
                                </div>
    
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#get-mail-list").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $img = "<img src='{SERVER_URL}/images/loading-line.gif'>";
            $("#list-box").html($img);
            var file_data = new FormData();
            file_data.append("accion", "get-list");
            
                $.ajax({
                    type: "POST",
                    url:  "{SERVER_URL}/admin/ajax/settings.php",
                    data: file_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        res = JSON.parse(response);
                        console.log(res);
                        $("#list-box").html(res.msj);
                    }
                });
        });
            
        $("#form-mail").submit(function (e) {
            $("#alert-resp").hide();
            e.preventDefault();
            e.stopPropagation();
                $("#send-gif").removeClass("invisible");
                $("#msj-send").hide();
                $("#msj-sending").show();
                $("#btn-send").addClass("disabled");
                $("#btn-send").attr("aria-disabled", "true");
                var form = jQuery("#form-mail").serialize();

                var file_data = new FormData();

                file_data.append("accion", "update-mail");
                file_data.append("formula", form);
                
                    for (var key of file_data.entries()) {
                        console.log(key[0] + ', ' + key[1]);
                    }
                
                $.ajax({
                    type: "POST",
                    url:  "{SERVER_URL}/admin/ajax/settings.php",
                    data: file_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#alert-resp").show();
                        console.log(response);
                        res = JSON.parse(response);
                        console.log(res);
                        $("#alert-resp").html(res.msj);
                        jQuery("#send-gif").addClass("invisible");
                    }
                });
           
        });

    });
    </script>
