<div id="layerslider" style="width: 100%; height: 650px; background-color: white;">
    {SLIDERS}
    <!-- First slide -->
   <!--  <div class="ls-slide" data-ls="duration: 4000; transition2d: 6; bgsize:inherit">
        <img src="../images/slider/slider_home1.jpg" class="ls-bg" alt="Slide background">
        <h1 class="ls-l ls-h1" style="top:50%; left:25%;" data-ls="offsetxin: left; startatin:1000; durationin:2000; minfontsize:11">
            Gran experiencia en el cuidado integral de la salud
        </h1>
    </div>
    <div class="ls-slide" data-ls="duration: 4000; transition2d: 6; bgsize:inherit">
        <img src="../images/slider/02.jpg" class="ls-bg" alt="Slide background">
        <h1 class="ls-l ls-h1" style="top:50%; left:25%;" data-ls="offsetyin: top; startatin:1000; durationin:2000; minfontsize:11">
            Gran experiencia en el cuidado integral de la salud
        </h1>
    </div>
    <div class="ls-slide" data-ls="duration: 4000; transition2d: 6; bgsize:inherit">
        <img src="../images/slider/05.jpg" class="ls-bg" alt="Slide background">
        <h1 class="ls-l ls-h1" style="top:50%; left:25%;" data-ls="startatin:1000; minfontsize:11">
            Gran experiencia en el cuidado integral de la salud
        </h1>
    </div>
    <div class="ls-slide" data-ls="duration: 4000; transition2d: 6; bgsize:inherit">
        <img src="../images/slider/05B.jpg" class="ls-bg" alt="Slide background">
        <h1 class="ls-l ls-h1" style="top:50%; left:25%;" data-ls="offsetyin: bottom; startatin:1000; durationin:2000; minfontsize:11">
            Gran experiencia en el cuidado integral de la salud
        </h1>
    </div>
-->
</div>