<div class="p-1">
  <div class="bdr-gr p-2 m-2 w-100">
    <a href="{ITEM_URL}" target="_blank" class="lnk-printer">
      <img
        src="{ITEM_IMG}"
        alt="{ALT_IMG}"
        class="img-responsive"
        style="max-width: 55px; max-height: 30px;"
      />
      <span class="t-gd text-uppercase">{ITEM_TITLE}</span>
    </a>
  </div>
  <a href="{ITEM_URL}" class="btn rounded-0 text-uppercase text-right m-2 w-100 bg-magenta bb-m t-w">
    Click here to see <i class="fa fa-angle-right ml-3"></i>
  </a>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;
