<div class="container-fluid bg-gray">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/products/icono_primers_pagina.png" class="img-fluid pt-3 icon-title-m pb-2" alt="Nano UV inks®">
            <br>
            <br>
            <h3 class="t-gdd title">Nano UV Primers®</h3>

            <p class="text-justify mr-lg-3 t-g paragraf p-2">
                Our nano UV Primers® and adhesion promoters are optically clear primers ideal for multiple uses where strong ink bonds are
                required.
                <br>
                <br>They improve our nano UV inks® adhesion to a multitude of surfaces and enhance color density as well as clarity
                of the printed color on the substrate.
                <br>
                <br>Nano UV Primers® high performance adhesion promoters are formulated with specific chemical properties to
                obtain superior adherence on common problematic substrates improving the printability on these difficult
                materials.
                <br>
                <br>The use of Sun 3D Corporation series promoters will modify the surface chemistry of the substrate and as
                a result the potential print quality may be further enhanced.
            </p>

        </div>
    </div>

</div>

<div class="container-fluid bg-gray footer-top-bdr">

    <div class="row pt-2 pb-5 ml-5 mr-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <img src='{SERVER_URL}/images/products/foto_primers-2.jpg' class="img-responsive w-100">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3">
            <h3 class="t-gd paragraf">Advantages:</h3>
            <ul class="t-g paragraf">
                <li>Improves performance properties of nano UV inks® on surfaces that are notorious for adhesion problems</li>
                <li>Superior rub and scratch resistance of ink on the substrate</li>
                <li>Provides a great bond for nano UV inks®</li>
                <li>Easy application, quick drying</li>
            </ul>
            <h3 class="t-gd paragraf">We offer three types of nano UV Primers® and adhesion promoters; We enhance the adhesion on this type of surfaces:</h3>
            <ul class="t-g paragraf">
                <li>Nano UV Primers® for Glass, Metal & Tile</li>
                <li>Nano UV Primers® for Plastics and Acrylic</li>
                <li>Nano UV Primers® for Rubber Substrates</li>
            </ul>
            <span class="t-m subtitle-xl">*Available in 1-liter bottles&nbsp;&nbsp;</span>
            <a href="{SERVER_URL}/web/contact_us.php?TP=PRIMERS" target="_blank" class="bg-magenta t-wd btn rounded-0 float-xl-right">
                <span class="t-w text-uppercase">Request</span>
                <i class="fa fa-angle-right ml-3 t-w "></i>
            </a>
        </div>


    </div>

</div>