<div class="container-fluid bg-gray footer-top-bdr">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/products/icono_printers_pagina-2.png" class="img-fluid pt-3 icon-title-p pb-2" alt="UV Printers">
            <br>
            <br>
            <h3 class="t-gdd title">UV LED Printers®</h3>
            <p class="text-justify mr-lg-3 t-g paragraf p-2">
                Our portfolio includes solutions for all printing applications from small and wide format digital printers to complex solutions,
                we can print on virtually any substrate imaginable, produce stunning vibrant colors and produce 3D raised
                images.
                <br>
                <br>
            </p>
            <div class="d-flex flex-wrap">
                {LNK-PRINTERS}
            </div>
        </div>
    </div>

</div>



{BTN-SCROLL}