<div id="sendmail-top" class="bg-gray-dark position-absolute p-3" style="top:0; right:15%; z-index: 1; width: 300px; ">
    <span class="text-white">
        <i class="fa fa-phone mr-1"></i>+1.954.418.5454
        <i class="fa fa-envelope mr-1"></i>SEND EMAIL</span>
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark pt-0 d-none d-lg-block">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <div id="box-auto-navbar" class="d-flex  justify-content-between w-100 pt-3 mr-5">
                <form class="form-inline w-100">


                    <div class="navbar-nav w-100">
                        <a class="nav-item nav-link active p-2 mt-3 flex-fill" href="{SERVER_URL}/web/">
                            <span class="align-bottom">{HOME}</span>
                        </a>
                        <a class="nav-item nav-link p-2 mt-3 flex-fill" data-param="parent" data-slug="about" href="#">
                            <span class="align-bottom">{ABOUT}</span>
                            <span id="trg-about" class="trg-l d-block">&nbsp;</span>
                        </a>
                        <a class="nav-item nav-link p-2 mt-3 flex-fill" data-param="parent" data-slug="products" href="#">
                            <span class="align-bottom">{PRODUCTS}</span>
                            <span id="trg-products" class="trg-l d-block">&nbsp;</span>
                        </a>
                        <a class="navbar-brand " href="{SERVER_URL}/web/index.php">
                            <img id="Logo" src="{SERVER_URL}/images/top/logo_central_homeB.png" width="213" class="img-fluid d-inline-block align-top"
                                alt="SUN 3D">
                        </a>
                        <a class="nav-item nav-link p-2 mt-3 flex-fill text-right" data-param="parent" data-slug="opport" >
                            <span class="align-bottom">{OPPORT}</span>
                            <span id="trg-opport" class="trg-r d-block">&nbsp;</span>
                        </a>
                        <a class="nav-item nav-link p-2 mt-3 flex-fill text-right" href="{SERVER_URL}/web/news.php">
                            <span class="align-bottom">{BLOG}</span>
                        </a>
                        <a class="nav-item nav-link p-2 mt-3 flex-fill text-right" href="{SERVER_URL}/web/contact_us.php">
                            <span class="align-bottom">{CONTACT}</span>
                        </a>
                    </div>
                 

                </form>
            </div>

        </div>
    </div>

</nav>

<div class="subnavbar fixed-top w-100" id="subnavbar-about" data-wich="trg-about" data-type="ld">
    <ul class="subnavlist  w-100 d-flex justify-content-center">
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/about_who.php">
                <img src="{SERVER_URL}/images/top/menu/icono_who_we_are.png" alt="Wo We Are" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/philosophy.php">
                <img src="{SERVER_URL}/images/top/menu/icono_philosophy.png" alt="Philosophy" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/technology.php">
                <img src="{SERVER_URL}/images/top/menu/icono_technology.png" alt="Technology" class="img-top-menu">
            </a>
        </li>
    </ul>
</div>
<div class="subnavbar fixed-top w-100" id="subnavbar-products" data-wich="trg-products" data-type="ld">
    <ul class="subnavlist  w-100 d-flex justify-content-center">
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/products_printers.php">
                <img src="{SERVER_URL}/images/top/menu/icono_printers-2.png" alt="UV LED Printers" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/products_inks.php">
                <img src="{SERVER_URL}/images/top/menu/icono_inks.png" alt="Nano UV Inks" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/products_primers.php">
                <img src="{SERVER_URL}/images/top/menu/icono_primers.png" alt="Nano UV Primers" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/products_lcutting.php">
                <img src="{SERVER_URL}/images/top/menu/icono_laser_cutting.png" alt="Laser Cutting" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/products_ccoating.php">
                <img src="{SERVER_URL}/images/top/menu/icono_ceramic_coating.png" alt="Ceramic Coating" class="img-top-menu">
            </a>
        </li>
    </ul>
</div>
<div class="subnavbar fixed-top w-100" id="subnavbar-opport" data-wich="trg-opport" data-type="rd">
    <ul class="subnavlist  w-100 d-flex justify-content-center">
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/applications.php">
                <img src="{SERVER_URL}/images/top/menu/icono_applications.png" alt="Applications" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/competitive_advantages.php">
                <img src="{SERVER_URL}/images/top/menu/icono_competitive_advantages.png" alt="Advantages" class="img-top-menu">
            </a>
        </li>
        <li class="p-1 col-2 mt-2">
            <a href="{SERVER_URL}/web/FAQ.php">
                <img src="{SERVER_URL}/images/top/menu/icono_frequent_questions.png" alt="FAQ" class="img-top-menu">
            </a>
        </li>
    </ul>
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-black d-lg-none">
    <a class="navbar-brand" href="{SERVER_URL}/web/index.php">
        <img id="Logo" src="{SERVER_URL}/images/top/logo_central_homeB.png" width="140" class="img-fluid mt-2" alt="SUN 3D">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{SERVER_URL}/web/">{HOME}
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {ABOUT}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{SERVER_URL}/web/about_who.php">
                        <img src="{SERVER_URL}/images/top/menu/who we are_icon_small.png" alt="Wo We Are" class=""> Who we are
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/philosophy.php">
                        <img src="{SERVER_URL}/images/top/menu/philosophy_icon_small.png" alt="Philosophy" class=""> Philosophy
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/technology.php">
                        <img src="{SERVER_URL}/images/top/menu/technology_icon_small.png" alt="Technology" class=""> Technology
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {PRODUCTS}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{SERVER_URL}/web/products_printers.php">
                        <img src="{SERVER_URL}/images/top/menu/printers_icon_small.png" alt="UV LED Printers"> UV LED Printers
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/products_inks.php">
                        <img src="{SERVER_URL}/images/top/menu/inks_icon_small.png" alt="Nano UV Inks"> Nano UV Inks
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/products_primers.php">
                        <img src="{SERVER_URL}/images/top/menu/primers_icon_small.png" alt="Nano UV Primers"> Nano UV Primers
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/products_primers.php">
                        <img src="{SERVER_URL}/images/top/menu/laser_cutting_icon_small.png" alt="Laser Cutting"> Laser Cutting
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/products_primers.php">
                        <img src="{SERVER_URL}/images/top/menu/ceramic_coating_icon_small.png" alt="Nano Fusion Coating"> Nano Fusion Coating
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {OPPORT}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{SERVER_URL}/web/applications.php">
                        <img src="{SERVER_URL}/images/top/menu/applications_icon_small.png" alt="Applications"> Applications
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/competitive_advantages.php">
                        <img src="{SERVER_URL}/images/top/menu/competitiveadvantages_icon_small.png" alt="Advantages"> Advantages
                    </a>
                    <a class="dropdown-item" href="{SERVER_URL}/web/FAQ.php">
                        <img src="{SERVER_URL}/images/top/menu/frequent_questions_icon_small.png" alt="FAQ"> FAQ
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="{SERVER_URL}/web/blog.php"> {BLOG}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{SERVER_URL}/web/contact_us.php"> {CONTACT}</a>
            </li>
        </ul>

    </div>
</nav>

{BANNER}

<!-- Modal -->
<div class="modal fade" id="box-modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 ml-auto">
                        <form>
                            <div class="form-group row">
                                <label for="email_log" class="col-sm-3 col-form-label">{MAIL}</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email_log" name="email_log" placeholder="email@ejemplo.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pass_log" class="col-sm-3 col-form-label">{PASS}</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="pass_log" name="pass_log" placeholder="* * *">
                                </div>
                            </div>
                            <div class="box-msj-login"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-5 float-left">
                    <a href="{SERVER_URL}/web/registro.php" class="lnk-reg">{SIGN}</a>
                </div>
                <div class="col-sm-7" style="text-align: right;">
                    <button type="button" class="btn btn-primary btn-blue1" id="btn-login-web">{LOGIN}</button>
                    <button type="button" class="btn btn-secondary bdr-cero" data-dismiss="modal" id="btn-close-login-web">{CLOSE}</button>

                </div>

            </div>

        </div>
    </div>
</div>