<div class="container-fluid bg-gray footer-top-bdr">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/products/icono_laser_cutting_pagina.png" class="img-fluid pt-3 icon-title-m pb-2" alt="Laser Cutting">
            <br>
            <br>
            <h3 class="t-gd title">Laser Cutting Machines</h3>
            <p class="text-justify mr-lg-3 t-g paragraf p-2">
                For cutting/engraving. Economic, cost-effective multi-functional laser cutting machines. Reliable products quality and overall
                cutting ability (multi-functional, applicable for cutting stainless steel, carbon steel, acrylic, MDF, die
                board). Cut all kinds of materials with less investment.
                <br>
                <br>
            </p>
            <div class="d-flex flex-wrap">
                {LNK-LASER}
            </div>
        </div>
    </div>

</div>