<div class="container-fluid bg-gray">

    <div class="row   home-video pt-5 pb-5 ml-5 mr-5">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h1 class="mt-0 mr-lg-3 t-gdd title pl-2">What we can do for you</h1>
            <h4 class=" mr-lg-3 t-gd subtitle pl-2">Print on virtually everything! on any substrate, you can imagine.</h4>
            <p class="text-justify mt-3  mr-lg-3 t-g paragraf p-2">
                If you are currently subcontracting the production of your products and printing, you can think about buying a UV LED Printer®
                in a small format where you will better control the costs and manufacturing quality, you can make short runs
                or unit pieces, you do not need large stock, the piece is manufactured when it is needed, the finish has
                photographic quality, the durability of printing is very high, the process is simple: you design, select
                the printing area and print, in three steps you get the final product, that's that easy.
                <br>
                <br>Our printers are very robust and are designed to work in industrial environments and at a very high level
                of demand. The equipment performs an automatic maintenance that guarantees its perfect operation and the
                consumption of ink is really low.
            </p>


            <br>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-01.jpg?auto=yes&bg=777&fg=555&text=1 slide"
                            alt="1 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-02.jpg?auto=yes&bg=777&fg=555&text=2 slide"
                            alt="2 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-03.jpg?auto=yes&bg=777&fg=555&text=3 slide"
                            alt="3 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-04.jpg?auto=yes&bg=777&fg=555&text=4 slide"
                            alt="4 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-05.jpg?auto=yes&bg=777&fg=555&text=5 slide"
                            alt="5 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-06.jpg?auto=yes&bg=777&fg=555&text=6 slide"
                            alt="6 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-07.jpg?auto=yes&bg=777&fg=555&text=7 slide"
                            alt="7 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-08.jpg?auto=yes&bg=777&fg=555&text=8 slide"
                            alt="8 slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{SERVER_URL}/images/home/slider/foto_slider_home-09.jpg?auto=yes&bg=777&fg=555&text=9 slide"
                            alt="9 slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row  pt-4">
                <div class="col-12 box-margin pt-3 ">
                    <form class=" form-inline">
                        <div class="box-registro col-12 p-0">
                            <input type="text" class="form-control form-control-lg" id="email-sub" name="email-sub" placeholder="Email *" value="" data-container="body"
                                data-toggle="popover" data-placement="bottom" data-content="Ingrese su direcci&oacute;n de correo.">
                            <button class="btn text-white form-control-lg" id="btn-sub" role="button">Suscribe &#62;</button>
                        </div>
                    </form>
                    <img id='send-gif' class="d-none" src='{SERVER_URL}/images/loading-line.gif'>
                    <div id="box-msj-sus"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid  bg-dark">
    <div class="row">
        <div class="col-12 p-0">
            <div class="parallax">
                <div class="t-y mt-0 pt-4 pb-4 text-center">
                    <img height="65px" src='{SERVER_URL}/images/home/quote_left.png'>
                    <h1 class="text-white message-text">Innovation is the ability to see change
                        <br> as an opportunity – not a threat”</h1>
                    <h1 class="t-y message-text-auth">- Steve Jobs</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  bg-gray ">
    <div class="row">
        <div class="col-12  text-center pt-4">
                <a href="{SERVER_URL}/web/applications.php"><h1 id="" class="title-financial t-gdd">Applications</h1></a>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-apps pt-2 pl-0 pl-5 pr-5">
            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_1.jpg" alt="pop-1" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Ceramic</div>
                </div>
            </div>
            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_2.jpg" alt="pop-2" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Wood</div>
                </div>
            </div>


            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_3.jpg" alt="pop-3" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Deco</div>
                </div>
            </div>
            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_4.jpg" alt="pop-4" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">POP</div>
                </div>
            </div>

            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_5.jpg" alt="pop-5" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Metal</div>
                </div>
            </div>
            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_6.jpg" alt="pop-6" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Sign</div>
                </div>
            </div>

            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_7.jpg" alt="pop-7" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Glass</div>
                </div>
            </div>
            <div class="container-tr mt-2">
                <img src="{SERVER_URL}/images/home/apps/pop_8.jpg" alt="pop-8" class="image-tr img-thumbnail rounded-0 border-bottom border-right">
                <div class="overlay-tr">
                    <div class="text-tr">Advertising</div>
                </div>
            </div>
        </div>

    </div>


    <div class="row p-5">
        <div class="col-12  text-center">
            &nbsp;
        </div>
    </div>
</div>

<div class="container-fluid bg-gray-dark footer-top-bdr">

    <div class="row   home-video pt-5 pb-5 ml-5 mr-5">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-white">
            <h1 class="mt-0 mr-lg-3 title pl-2">Latest from our Blog</h1>
            {ROWS_BLOG}

            <br>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-white">
            <h1 class="mt-0 mr-lg-3 title pl-2">Latest Posts</h1>
            <!--<div class="d-flex flex-fill flex-wrap w-100">
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-1.jpg" alt="Latest3">
                    </div>
                </a>
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-2.jpg" alt="Latest3">
                    </div>
                </a>
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-3.jpg" alt="Latest3">
                    </div>
                </a>
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-4.jpg" alt="Latest3">
                    </div>
                </a>
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-5.jpg" alt="Latest3">
                    </div>
                </a>
                <a href="#">
                    <div class="div-img hidden p-2 m-2">
                        <img class="img" class="border border-white m-2" src="{SERVER_URL}/images/home/blog/foto_Latest-post-6.jpg" alt="Latest3">
                    </div>
                </a>
                <br>
            </div>-->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="http://lightwidget.com/widgets/468921b9e7a85bb49bae851cf266e06c.html" scrolling="no" allowtransparency="true"
                class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
</div>


{BTN-SCROLL}
<script>

    var lFollowX = 0,
        lFollowY = 0,
        x = 0,
        y = 0,
        friction = 1 / 30;

    function moveBackground() {
        x += (lFollowX - x) * friction;
        y += (lFollowY - y) * friction;

        translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

        $('.bg').css({
            '-webit-transform': translate,
            '-moz-transform': translate,
            'transform': translate
        });

        window.requestAnimationFrame(moveBackground);
    }

    $(window).on('mousemove click', function (e) {

        var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
        var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
        lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
        lFollowY = (10 * lMouseY) / 100;

    });

    moveBackground();

    $(function () {

        $("#send-gif").hide(100);
        $("#btn-suscribirse").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            //console.log("Email->" + $("#email_sus").val());

            if ($("#email_sus").val() == null || $("#email_sus").val() === "") {
                //console.log("Email undefined");
                $("#email_sus").popover('show'); return;
            }
            else { $("#email_sus").popover('hide'); }

            var file_data = new FormData();
            file_data.append("accion", "suscribirse_web");
            file_data.append("email", $("#email_sus").val());
            /*
                        for (var key of file_data.entries()) {
                            console.log(key[0] + ', ' + key[1]);
                        }
            */
            $.ajax({
                type: "POST",
                url: "{SERVER_URL}/web/server/contact.php",
                data: file_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log(response);
                    res = JSON.parse(response);
                    console.log(res);
                    jQuery("#box-msj-sus").html(res.msj);
                    jQuery("#btn-send").removeClass("disabled");
                    jQuery("#btn-send").attr("aria-disabled", "false");
                    jQuery("#send-gif").hide(100);
                }
            });
        });
    });

</script>