<div class="container-fluid bg-gray footer-top-bdr pb-4">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/about/icon-philosophy.png" class="img-fluid pt-3 icon-title pb-2" alt="Philosophy-Icon">
            <br>
            <br>
            <h3 class="t-gdd title">Philosophy</h3>
            <h3 class="t-gdd subtitle">Our love for Printing drives who we are and what we do every day.</h3>
            <p class="text-justify mr-lg-3 t-g paragraf p-2">
                    With dedication, commitment, and team spirit, we continuously innovate to establish new benchmarks in everything we do.
                <br> We strive to be the global leader in the UV-LED Wide Format Printing industry with technology built on a
                passion for quality printing and maximum profitable returns to our customers.
            </p>
            <h3 class="t-blu title">Our products break records, set trends, and make history. All over the world.</h3>


        </div>
    </div>
    <div class="row pt-2 pb-5 ml-5 mr-5">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3 class="t-gdd subtitle">Core values</h3>
            <div class="ml-3 pt-3">
                <div class="container-ph ">
                    <img src="{SERVER_URL}/images/about/cuadro_values-1.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">We succeed through satisfied customers.</div>
                    </div>
                </div>
                <div class="container-ph">
                    <img src="{SERVER_URL}/images/about/cuadro_values-2.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">We deliver quality and excellence in all we do.</div>
                    </div>
                </div>
                <div class="container-ph">
                    <img src="{SERVER_URL}/images/about/cuadro_values-3.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">We require premium return on assets.</div>
                    </div>
                </div>
                <div class="container-ph">
                    <img src="{SERVER_URL}/images/about/cuadro_values-4.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">We use technology to develop market leadership.</div>
                    </div>
                </div>
                <div class="container-ph">
                    <img src="{SERVER_URL}/images/about/cuadro_values-5.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">
                            <br>We value
                            <br>our employees.</div>
                    </div>
                </div>
                <div class="container-ph">
                    <img src="{SERVER_URL}/images/about/cuadro_values-6.png" alt="val-3" class="image-ph  rounded-0 ">
                    <div class="">
                        <div class="text-ph">We behave responsibly as a corporate citizen.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{BTN-SCROLL}