<div class="container-fluid  bg-gray-dark ">
    <div class="row pt-2 pb-2 ml-5 mr-5 ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
            {LASERS_LINK}
        </div>
    </div>
</div>
<div class="container-fluid bg-gray footer-top-bdr">
    <div class="row pt-5 pb-2 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">

            <h3 class="t-m title">{NAME}</h3>
            <h3 class="t-g paragraf">{DESC-SHORT}</h3>
            <div class="p-2">{DESC}</div>
            

        </div>

    </div>
    <div class="row pt-2 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 box-cont">
            <h3 class="t-m subtitle-xs">Technical Parameters</h3>
            {TEC-PAR}
            <br>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 box-cont align-bottom">
            <a href="{SERVER_URL}/web/contact_us.php?EID={EID}&TP=L" target="_blank" class="bg-magenta t-wd btn btn-request rounded-0 rq-btn float-right">
                Request
                <i class="fa fa-angle-right ml-3"></i>
            </a>
        </div>
    </div>

</div>

{BTN-SCROLL}