<div class="row p-5">
        <div class="col-lg-1 col-xl-1 d-none d-lg-block">&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-11 col-xl-10">
            <div class="media p-2 blog-box">
                <a href="{SERVER_URL}/web/news_detail.php?EID={EID}">
                    <img class="ml-5 mr-3" style="max-width:390px;" src="{SERVER_URL}{PIC-HEADER}" alt="HEAD-PIC">
                </a>
                <div class="media-body">
                    <a href="{SERVER_URL}/web/news_detail.php?EID={EID}">
                        <h5 class="mt-0 t-g title">{TITLE}</h5>
                    </a>
                    <a href="{SERVER_URL}/web/news_detail.php?EID={EID}">
                        <h3 class="mt-0 t-g subtitle">{SUBTITLE}</h3>
                    </a>
                    <div class="media-desc"> {CONTENT} </div>  
                    <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 text-uppercase">{DATE}</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 text-uppercase">{AUTOR}</button>
                    <br>
                    <a href="{SERVER_URL}/web/news_detail.php?EID={EID}" class="btn bg-blue-d rounded-0 t-w mt-3">More</a>

                </div>
            </div>
        </div>
    </div>

<hr class="division-blue m-2">