<div class="container-fluid bg-white">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/products/icono_inks_pagina.png" class="img-fluid pt-3 icon-title-m pb-2" alt="Nano UV inks®">
            <br>
            <br>
            <h3 class="t-gdd title">{TITLE_SEC_1}</h3>
            <h3 class="t-gdd subtitle">{SUBTITLE_SEC_1}</h3>
            {PARAGRAF_SEC_1}

        </div>
    </div>

</div>

<div class="container-fluid bg-white">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">

            <h3 class="t-m subtitle-xl">{TITLE_SEC_2}</h3>
            {PARAGRAF_SEC_2}

            <br>

        </div>
    </div>

</div>
<div class="container-fluid bg-magenta">
    <div class="row pt-5 pb-5 ml-5 pl-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont ">
            <h3 class="t-w title-xl">{SUBTITLE_SEC_3}</h3>
            {PARAGRAF_SEC_3}
            <a href="{SERVER_URL}/web/contact_us.php?TP=INKS" target="_blank" class="bg-white t-md btn rounded-0 float-xl-right">
                <span class="text-uppercase">Request</span>
                <i class="fa fa-angle-right ml-3 "></i>
            </a>
        </div>
    </div>
</div>