<style>
    .title-blue {
        color: #84CDF2;
    }
</style>
{SCROLLER-INDICATOR} {QUIENES} {FILOSOFIA}

<div class="container-fluid bg-gray pb-4">
    <div class="container">
        <div class="row ">
            <div class="col-12  pt-5">
                <div class="row d-flex flex-wrap">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Somos_Profesionales.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-PRO}</h3>
                            <p> {VAL-TXT-PRO}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Tecnologia.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-TECH}</h3>
                            <p> {VAL-TXT-TECH}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Integracion.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-INT}</h3>
                            <p> {VAL-TXT-INT}</p>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Eficiencia.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-EFF}</h3>
                            <p> {VAL-TXT-EFF}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Informacion.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-INF}</h3>
                            <p> {VAL-TXT-INF}</p>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Transparencia.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-TRA}</h3>
                            <p> {VAL-TXT-TRA}</p>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Compromiso.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-COM}</h3>
                            <p> {VAL-TXT-COM}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/Fondo_Solidez.png' class="img-fluid">
                        <div class="us-pic-text">
                            <h3>{VAL-TITLE-SOL}</h3>
                            <p> {VAL-TXT-SOL}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 box-us-pic">
                        <img src='{SERVER_URL}/images/us/fondo_contactanos.png' class="img-fluid">
                        <div class="us-pic-text-btn">
                            <h3>{VAL-TXT-BLUE}</h3>
                            <a href="{SERVER_URL}/web/contacto.php" class="btn btn-light">
                                {VAL-BTN-BLUE}&#62;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{BTN-SCROLL}