<div class="container-fluid bg-gray ">
    <div class="row pt-3 pb-5 ml-5 mr-5 mt-1">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <div class="row p-0 m-0">
                <div class="col-1">
                    <img src="{SERVER_URL}/images/about/icon-who_we_are.png" class="img-fluid icon-title-b pb-2 icon-section" alt="Who-Icon">
                </div>
                <div class="col-11"> 
                    <h3 class="t-gdd title pt-4">Who we are</h3>
                </div>
            </div>
            <p class="text-justify mr-lg-3 t-g paragraf p-3">
                For the last 13 years, Sun 3D Corporation® has manufactured and distributed one of the best and unique UV-LED Wide format
                products on the market.
            </p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <img src="{SERVER_URL}/images/about/timeline_who-we-are_all.png" class="img-fluid d-none d-lg-block" alt="Timeline who">
            <img src="{SERVER_URL}/images/about/timeline_who_we_are_part1.png" class="img-fluid d-lg-none m-2" alt="Timeline who 1">
            <img src="{SERVER_URL}/images/about/timeline_who_we_are_part2.png" class="img-fluid d-lg-none m-2" alt="Timeline who 2">
            <img src="{SERVER_URL}/images/about/timeline_who_we_are_part3.png" class="img-fluid d-lg-none m-2" alt="Timeline who 3">

        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont ">
            <br>
            <p class="text-justify mt-3  mr-lg-3 t-g paragraf p-2">
                Sun 3D Corporation® has built a global research and development network that extends throughout the U.S., Japan, China, Taiwan,
                Italy, Russia, Switzerland & Germany. True to our Engineering roots, we maintain an innovation-centric corporate
                culture designed to promote and develop the creativity of each employee and maximize our ability to meet
                the needs of the fast-changing wide format printing industry.
                <br>
                <br> Our universal and proven wide format printer development is based on our own engineered.
            </p>

            <div class="row ">

                <div class="col-12">
                        <img src="{SERVER_URL}/files/About/who1.jpg" class="img-fluid m-2 img-whos-l" alt="who1">
                        <img src="{SERVER_URL}/files/About/who2.jpg" class="img-fluid m-2 img-whos" alt="who2">
                        <img src="{SERVER_URL}/files/About/who3.jpg" class="img-fluid m-2 img-whos-l" alt="who3">
                        <img src="{SERVER_URL}/files/About/who4.jpg" class="img-fluid m-2 img-whos" alt="who4">
                        <img src="{SERVER_URL}/files/About/who5.jpg" class="img-fluid m-2 img-whos-l" alt="who5">
                </div>

            </div>

        </div>



    </div>
</div>
<div class="container-fluid row-who-section ">
    <div class="row ml-5 pr-5">
        <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-4 box-cont text-center">
            <img src="{SERVER_URL}/images/about/Complement.png" class="img-responsive" alt="Complement">
        </div>
        <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-8 pt-5">
            <p class="text-justify mr-lg-3 ml-md-5 t-w title-xl pt-5 pr-5 mr-5">
                Complement each other in a unique way to help companies print better, perform better and differentiate them from the competition.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-gray footer-top-bdr ">
    <div class="row pt-5 pb-5 ml-5 mr-5">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont ">
            <br>
            <p class="text-justify mt-3  mr-lg-3 t-g paragraf p-2">
                Our products can print on any substrate imaginable up to 8” high and can print 3D raised images on almost any substrate.
            </p>
            <br>
            <br>
        </div>

    </div>
</div>
{BTN-SCROLL}