<div class="container-fluid bg-gray">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/about/icon-technology.png" class="img-fluid pt-3 icon-title pb-2" alt="Technology-Icon">
            <br>
            <br>
            <h3 class="t-gdd title">Technology</h3>
            <h3 class="t-gdd subtitle">Our love for Printing drives who we are and what we do every day.</h3>
            <p class="text-justify mr-lg-3 t-g paragraf p-2">
                Our UV-LED Technology® for UV printers is replacing older technology with compelling advantages of better economics, system
                capabilities, and environmental benefits.
                <br>
                <br>UV-LED Technology® is rapidly becoming the new standard for UV printing in the world.
                <br>
                <br>Sun 3D Corporation UV-LED Technology® provides the highest curing efficiency while also providing a cooler,
                safer, and more stable output, allowing end users to print on a wider variety of substrate with increased
                yield and reduced operating costs.
                <br>
                <br>The system owes its advantages largely to nanotechnology applications: the use of nanosized pigments and
                additives to the nano UV inks® and ultrabright UV LEDs with our exclusive UV-LED Technology® based on gallium
                nitride heterostructures in the printers.
                <br>
                <br>Sun 3D Corporation UV-LED Technology® provides just the right amount of UV energy to control dot gain and
                achieve a variety of printing effects at increased speeds.
                <br>
                <br>Sun 3D Corporation UV-LED Technology® can also be used for full cure of nano UV inks® in bi-directional,
                single pass, and 3D raised images to create products such as posters, labels, signage, packaging, and 3D
                raised printing images.
                <br>
                <br>Our nano UV-LED printers® can apply images not only to advertising and printing products, as traditional
                printers can, but also to furniture, tile, glass, ceramic tiles, metals, leather, acrylic, vinyl, canvas,
                wood, plastic, appliances and electronics, stretch ceilings, panels, and other surfaces.
                <br>
                <br>Nano UV ink® are formulated for maximum adhesion and compatibility with an extensive range of coated and
                uncoated substrates: PVC, plastic, wood, glass, stained glass, mirror, metal, banner etc. In combination
                with our award winning nano UV-LED printers® offers a broad range of color, high resistance to light, exact
                color reproduction, and long shelf life—important for UV curable inks.

            </p>

        </div>
    </div>

</div>
<div class="container-fluid bg-blue-d ">
    <div class="row pt-5 pb-5 ml-5 pl-2">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont ">
            <h3 class="t-w title-xl">Embossing Effect & Special Printing Capabilities</h3>
            <ul class="t-w subtitle-xl">
                <li>Direct printing on substrates of up to 7.9” (20 cm) thickness.</li>
                <li>Unique carriage raising system ensures direct printing on media.</li>
                <li>Embossing effect with multi-layered print technology.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-gray footer-top-bdr">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <h3 class="t-blu title-xl">Our technology complements each other like the skills of an exceptionally gifted artist.</h3>

        </div>
    </div>
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-7 col-sm-12 col-md-12 col-lg-6 col-xl-7 box-cont">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                    <img src='{SERVER_URL}/images/about/foto_lampara_technology.png' class="img-responsive border border-dark p-5 ml-3">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                    <h3 class="t-gd subtitle">UV-LED Technology®</h3>
                    <ul class="t-g paragraf">
                        <li>Printing on thin-heat sensitive substrates.</li>
                        <li>Energy Efficient.</li>
                        <li>Long Lasting UV-LED Lamps up to 100.000 hours.</li>
                        <li>Low Maintenance.</li>
                        <li>Low Operating Temperatures.</li>
                        <li>Mercury Free, Ozone Free.</li>
                        <li>No VOC´s.</li>
                        <li>Improves Adhesion on Substrates.</li>
                        <li>Environmentally Friendly.</li>
                        <li>Operator and Safe Working Environment.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5 col-sm-12 col-md-12 col-lg-6 col-xl-5 box-cont">
            <img src='{SERVER_URL}/images/about/cudro_lampara_technology.png' class="img-responsive">

        </div>
    </div>

</div>


{BTN-SCROLL}