<div class="container-fluid bg-gray">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/opport/icono_frequent_pagina.png" class="img-fluid pt-3 icon-title-y pb-2" alt="FAQ">
            <br>
            <br>
            <h3 class="t-gdd title">FAQ</h3>


        </div>
    </div>

</div>


<div class="container-fluid bg-gray footer-top-bdr">
    <div class="row pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <div class="accordion" id="accordionFAQ">
                <!--
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                                aria-controls="collapse1">
                                1. What is the UV LED technology?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse1" class="collapse" aria-labelledby="qtn1" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <p class="paragraf text-justify t-g">
                                This type of printing consists of stamping directly on different rigid and flexible materials in digital form and the curing
                                of the ink is done in cold through the LED technology (electroluminescent diodes) that emits
                                the UV light (Ultraviolet). Previously this was not possible, and companies were forced to
                                use other techniques such as lithography, serigraphy and flexography that significantly increased
                                their costs. This revolutionary technology meets the needs of the market that required a
                                fast, economical and versatile printing system.
                            </p>
                            <a href="{SERVER_URL}/web/about_who.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                aria-controls="collapse2">
                                2. Which are the competitive advantages of UV LED printing?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="qtn2" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <ul class="t-g">
                                <li>Our unique nano UV Ink® multifunctional wide-format UV-LED Printers® are very affordable
                                    to operate and with using our exclusive Nano UV Inks® technology, the price is as low
                                    as $0.020 per SQ/f.</li>
                                <li>You will now be able to Print directly onto almost any material up to 7.9” (20cm) thick regardless
                                    of length (Unique).</li>
                                <li>In-House Comprehensive Technical Training Program for assuring 100% uptime.</li>
                                <li>You can now Print 3D raised images with a thickness up to 10mm (Unique).</li>
                                <li>nano UV inks®: We can print and adhere our nano UV Inks® to almost any substrate imaginable.</li>
                                <li>UV-LED Technology®: greater durability than conventional printing</li>
                                <li> Printing on thin-heat sensitive substrates</li>
                                <li>Energy Efficient</li>
                                <li>Long Lasting UV-LED Lamps up to 100,000 hours</li>
                                <li>Low Maintenance</li>
                                <li>Low Operating Temperatures</li>
                                <li>Mercury Free, Ozone Free</li>
                                <li>No VOC's</li>
                                <li>Improves Adhesion on Substrates</li>
                                <li>Environmentally Friendly</li>
                                <li>Operator and Safe Working Environment</li>

                            </ul>
                            <a href="{SERVER_URL}/web/competitive_advantages.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn3">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                aria-controls="collapse3">
                                3. Which are the advantages of UV LED Curing vs Traditional Curing?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="qtn3" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <p class="paragraf text-justify t-g">
                                The LED UV Curing uses LED lamps that cost almost twice as much as a traditional UV lamp, but have a much longer lifetime
                                (above 20,000 hours), and represent significant energy savings, since traditional UV lamps
                                produce heat above 300 ° C (due to the wide spectral range reached by IR heat (infra red)),
                                while LED lamps operate at lower temperatures, which allows printing on different substrates.
                                The difference in the initial investment price will be compensated with the use over time.
                                Another advantage is that the LED curing does not require cooling equipment or ozone extraction
                                (because the wavelength of the light produced by the LED is not in the zone of 280 nm or
                                less, this means that it does not occur ozone for these lamps). And although both technologies
                                are free of VOCs, as they do not have solvents that evaporate, LED lamps do not contain mercury.
                            </p>
                            <a href="{SERVER_URL}/web/products_printers.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn4">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                aria-controls="collapse4">
                                4. What kind of surfaces can I print?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="qtn4" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <ul class="t-g">
                                <li>Cardboard or paper</li>
                                <li>Acrylic</li>
                                <li>Corrugated cardboard</li>
                                <li>Structural Cardboard</li>
                                <li>Ceramic</li>
                                <li>Coroplast</li>
                                <li>Metal</li>
                                <li>Paper Foam Core</li>
                                <li>PVC</li>
                                <li>Wood</li>
                                <li>Glass</li>
                                <li>Vinyl</li>
                                <li>Rigid and flexible materials</li>
                                <li>Cylindrical surfaces</li>
                            </ul>
                            <a href="{SERVER_URL}/web/applications.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn5">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                                aria-controls="collapse5">
                                5. Why is LED UV technology so profitable for business?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="qtn5" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <p class="paragraf text-justify t-g">
                                UV-LED printing technology is the opening for new businesses from various industries that have experienced considerable economic
                                growth following the use of this technique. A printer with UV LED technology can facilitate
                                the manufacture of a wide range of products such as: Decorated glass panels, furniture, wallpaper,
                                backsplash for kitchens, ceramics for bathrooms and floors, paintings and pieces in acrylics,
                                labeling and personalization of products, wooden doors, stained glass windows, cell phone
                                linings, POP material, traditional signage and braille, textured products, among others.
                                <br>
                                <br>A company that previously subcontracted the printing service for certain products will now
                                be able to: </p>
                            <ol class="t-g">
                                <li>Minimize your production costs.</li>
                                <li>Improve the quality of your products. </li>
                                <li>Make own and custom designs.</li>
                                <li>Reduce your stock of products and work under orders.</li>
                                <li>Decrease your delivery times.</li>
                                <li>A cleaner, efficient and faster work process.</li>
                                <li>Increase the profitability of your business.</li>
                            </ol>
                            <a href="{SERVER_URL}/web/applications.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn6">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                                aria-controls="collapse6">
                                6. What kind of business can use LED UV printing?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="qtn6" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <ul>
                                <li>Advertising and design</li>
                                <li>Printing</li>
                                <li>Gift and Souvenirs</li>
                                <li>High-end Photography</li>
                                <li>Architectures</li>
                                <li>Construction</li>
                                <li>Interior design and decoration</li>
                                <li>Furniture Manufacturing</li>
                            </ul>
                            <a href="{SERVER_URL}/web/applications.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn7">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                                aria-controls="collapse7">
                                7. What kind of the inks are used?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="qtn7" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <p class="paragraf text-justify t-g">
                                The main advantage for our clients is that the true color spectrum appears to be much brighter! As our nanoparticles are
                                round-shaped, they play a role of a light diffusing lens and due to this the glow effect
                                of true light refraction takes place. Besides, our exclusive nanotechnology science allows
                                us to get the stability of the inks behavior in the print heads and to increase the normal
                                shelf life and ultimate resistance to many external factors.
                            </p>
                            <a href="{SERVER_URL}/web/products_inks.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header border-0" id="qtn8">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed paragraf t-gd" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false"
                                aria-controls="collapse8">
                                8. What would be the advantages of obtaining a laser equipment?
                                <i class="fa fa-plus ml-1 d-inline"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="qtn8" data-parent="#accordionFAQ">
                        <div class="card-body">
                            <p class="paragraf text-justify t-g">
                                For cutting/ engraving. Economic, cost-effective multi-functional laser cutting machines. Reliable products quality and overall
                                cutting ability (multi-functional, applicable for cutting stainless steel, carbon steel,
                                acrylic, MDF, die board).. Non-contact metal cutting auto-following device, to cut all kinds
                                of materials with less investment.
                            </p>
                            <a href="{SERVER_URL}/web/products_lcutting.php" class="mt-3 mb-2 w-25 float-left">More</a>

                        </div>
                    </div>
                </div>

            -->
        {FAQS}
        </div>

        </div>
    </div>

</div>
<script>
    jQuery(document).ready(function () {
        $("i.fa").click(function () {

            if ($(this).hasClass("fa-plus")) {
                $(".fa.fa-minus").removeClass("fa-minus").addClass("fa-plus");
                $(this).removeClass("fa-plus").addClass("fa-minus");

            } else if ($(this).hasClass("fa-minus")) {
                $(this).removeClass("fa-minus").addClass("fa-plus");
            }

        });
    });
</script>