<div class="container-fluid bg-gray">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 box-cont">
            <br>
            <img src="{SERVER_URL}/images/opport/icono_applications_pagina.png" class="img-fluid pt-3 icon-title-y pb-2" alt="Applications">
            <br>
            <br>
            <h3 class="t-gdd title">{TITLE_SEC_1}</h3>
            <h3 class="subtitle-xs t-gd">{SUBTITLE_SEC_1}</h3>
            {PARAGRAF_SEC_1}

        </div>
    </div>

</div>
<div class="container-fluid bg-yellow ">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
            {SLIDER_SEC_2}

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
            <h3 class="t-gdl title">{TITLE_SEC_2}</h3>
            {PARAGRAF_SEC_2}

        </div>
    </div>

</div>
<div class="container-fluid bg-gray-dark ">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
            <h3 class="t-w title">{TITLE_SEC_3}</h3>
            {PARAGRAF_SEC_3}
            <!--<p class="text-justify mr-lg-3 t-w paragraf p-2">
                Our printers provide versatility, flexibility, and durability helping drive the transformation of any substrate ideally suited
                to giftware, souvenirs, packaging, 3D effects, displays, signage, individual parts decoration, prototyping,
                industrial marking etc.
            </p>
            <div class="row pb-2 ml-2 mr-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
                    <ul class="t-w pt-2">
                        <li>Cardboard or paper</li>
                        <li>Acrylic</li>
                        <li>Corrugated cardboard</li>
                        <li>Structural Cardboard</li>
                        <li>Ceramic</li>
                        <li>Coroplast</li>
                        <li>Metal</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
                    <ul class="t-w pt-2">
                        <li>Paper Foam Core</li>
                        <li>PVC</li>
                        <li>Wood</li>
                        <li>Glass</li>
                        <li>Vinyl</li>
                        <li>Rigid and flexible materials</li>
                        <li>Cylindrical surfaces</li>
                    </ul>
                </div> 
</div>-->
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
                {SLIDER_SEC_3}

        </div>
    </div>

</div>


<div class="container-fluid bg-yellow bb-y">
    <div class="row pt-5 pb-5 ml-5 mr-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
                {SLIDER_SEC_4}

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 box-cont">
            <h3 class="t-gdl title">{TITLE_SEC_4}</h3>
            {PARAGRAF_SEC_4}
        </div>
    </div>

</div>