<div class="container-fluid bg-gray ">

    {ROWS}


    <div class="row  p-5 footer-top-bdr">
        <div class="col-lg-1 col-xl-1 d-none d-lg-block">&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-11 col-xl-10 ml-5">
            <h1 class="mt-0 mr-lg-3 subtitle pl-2 t-g">LATEST POSTS</h1>

            <script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="http://lightwidget.com/widgets/002578124b935b8cbfd2408fdfb313b7.html" scrolling="no" allowtransparency="true"
                class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>

</div>